<h2>Cadastro de alunos</h2>

<label>
  Nome:
  <input [(ngModel)]="nome" placeholder="Digite o nome do aluno" />
</label>

<button (click)="salvarAluno()">
  {{ editando ? 'Salvar Edição' : 'Salvar' }}
</button>
<button (click)="consultarAluno()">Consultar</button>
<button *ngIf="editando" (click)="cancelarEdicao()">Cancelar</button>

<p>Nome digitado: <strong>{{ nome }}</strong></p>

<h3>Resultado da consulta:</h3>
<p *ngIf="consultaResultado">{{ consultaResultado }}</p>

<h3>Lista de alunos</h3>
<ul *ngIf="listas.length > 0; else vazio">
  <li *ngFor="let aluno of listas; let i = index">
    {{ aluno }}
    <button (click)="editarAluno(i)">Editar</button>
    <button (click)="excluirAluno(i)">Excluir</button>
  </li>
</ul>

<ng-template #vazio>
  <p>Nenhum aluno cadastrado. </p>
</ng-template>
